[submodule "college-to-undergraduate/math"]
	path = college-to-undergraduate/math
	url = ../mathnotes-shadow.git
[submodule "program/mai-tian-fcd"]
	path = program/mai-tian-fcd
	url = ../maitian---fcd.git
[submodule "program/mai-tian-sdtr"]
	path = program/mai-tian-sdtr
	url = ../maitian---sdtr.git
[submodule "program/czuan"]
	path = program/czuan
	url = ../czuan-dev-doc.git
[submodule "blog"]
	path = blog
	url = ../honlnk-blog.git
[submodule "program/JManus-learn-notes"]
	path = program/JManus-learn-notes
	url = ../JManus-learn-notes.git
