[submodule "college-to-undergraduate/math"]
	path = college-to-undergraduate/math
	url = git@github.com:honlnk/mathnotes-shadow.git
[submodule "program/mai-tian-fcd"]
	path = program/mai-tian-fcd
	url = git@github.com:honlnk/maitian---fcd.git
[submodule "program/mai-tian-sdtr"]
	path = program/mai-tian-sdtr
	url = git@github.com:honlnk/maitian---sdtr.git
[submodule "program/czuan"]
	path = program/czuan
	url = git@github.com:honlnk/czuan-dev-doc.git
[submodule "blog"]
	path = blog
	url = git@github.com:honlnk/honlnk-blog.git
